@import url('./mediaQueries.css');

.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
    color: #141817;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.iframe-container {
    width: 140px;
    height: 180px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10%;
    margin: 5px;
    background-color: #0772694f;
    margin-top: .5rem;
}

